.header{
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 48px * 2);
}

@media screen and (min-width: 1280px) {
    .header{
        width: calc(100% - 148px * 2);
        margin-top: 56px;
    }
}

@media screen and (max-width: 768px) {
    .header{
        width: 100%;
    }
}