.cover{
    margin: 92px 0 0;
    height: 640px;
}

@media screen and (min-width: 1280px) {
    .cover{
        margin: 92px 48px 0;
        height: 740px;
    }
}

@media screen and (max-width: 768px) {
    .cover{
        height: 480px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 425px) {
    .cover{
        height: 200px;
        margin-top: 66px;
    }
}