.intro__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 768px) {
    .intro__title{
        font-size: 32px;
        line-height: 1.09;
    }
}